

<div class="row">
  <div class="col-xs-12">
    <img [src] = "recipe.imagePath"  style="max-height: 75px;" alt="Recipe Image" class="img-responsive" />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
   <h1>{{recipe.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button 
        type="button" 
        id="dropdownMenu1" 
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu"  aria-labelledby="dropdownMenu1">
        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a href="#"></a>Edit Recipe</li>
        <li><a href="#"></a>Delete Recipe</li>
      </ul>

    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
   <p>{{recipe.description}}</p>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
   
   <ul class="list-group">
     <li class="list-group-item"
      *ngFor="let ingredient of recipe.ingredients" > 
       {{ ingredient.name }} - {{ ingredient.amount }} 
     </li>
   </ul>
  </div>
</div>

