
<div>
  <p>
    <button 
      class="btn btn-primary" 
      (click)="toggleButton()"
      >
      <span *ngIf="!showButton">Display Details</span>
      <span *ngIf="showButton">Hide Details</span>
    </button>
  </p>

  <br />

  <p *ngIf="showButton">
    Secret Password = tuna
  </p>

  <div>
    <ul>
      <li 
        *ngFor="let item of logs"
        [ngStyle]= "{backgroundColor: (item >= 5  ? 'blue' : '')}"
        [ngClass]="{whitebg : (item >= 5) }"
        >
          {{item}}
        </li>
    </ul>
  </div>
</div>